.container {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
    box-sizing: border-box;
    border: 1px solid black;
    gap: 1px;
}

.rowGrid {
    display: flex;
    gap: 1px;
    flex: 1;
}

.grid {
    flex: 1;
    box-sizing: border-box;
    background-color: white;
    transition: background-color 0.2s ease;
}

.grid.drawn {
    background-color: black;
}

body {
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: lightgray;
    text-align: center;
    border: 1px solid black;
    padding: 2px;
    margin-bottom: 10px;
}